1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:

import math
radius=float(input("Enter the radius of circle:"))

area=3.14*radius*radius
#print("Area of the Circle is:{}".format(round(area,2)))
print("Area of the Circle is:",area)

Enter the radius of circle:3
Area of the Circle is: 28.259999999999998

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name = input("Enter the name :")
roll_number = input("Enter the roll number :")
mark = input("Enter the mark :")

print("Name :",name)
print(" Roll No: ",roll_number)
print("Mark: ",mark)

Enter the name :Anisha
Enter the roll number :21
Enter the mark :78
Name : Anisha
 Roll No:  21
Mark:  78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
s = input()
list1 = list(map(int, s.split(",")))
print(max(list1),"is the largest number.")

12, 3, 47, 10
47 is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
from re import I
print("Enter any 10 numbers")
s = input()
list2 = list(map(int, s.split(" ")))
for i in list2:
  c_num = i+1
  p_num = i
  sum = c_num + p_num
  print("Current Number:",c_num,"Previous Number ",p_num,"Sum :",sum)

Enter any 10 numbers
0 1 2 3 4 5 6 7 8 9
Current Number: 1 Previous Number  0 Sum : 1
Current Number: 2 Previous Number  1 Sum : 3
Current Number: 3 Previous Number  2 Sum : 5
Current Number: 4 Previous Number  3 Sum : 7
Current Number: 5 Previous Number  4 Sum : 9
Current Number: 6 Previous Number  5 Sum : 11
Current Number: 7 Previous Number  6 Sum : 13
Current Number: 8 Previous Number  7 Sum : 15
Current Number: 9 Previous Number  8 Sum : 17
Current Number: 10 Previous Number  9 Sum : 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [12]:
num=print("Enter the list of  numbers")
s = input()
list2 = list(map(int, s.split(",")))
output = []
for i in list2:
  if i%5 == 0:
    output.append(i)
print(*output, sep = ", ")

Enter the list of  numbers
10, 20,33,46,55
10, 20, 55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [20]:
n = int(input("Enter the number : "))
if n > 1:
	for i in range(2, int(n/2)+1):
		if (n % i) == 0:
			print(n, "is not a prime number")
		break
	else:
		print(n, "is a prime number")
else:
	print(n, "is not a prime number")

Enter the number : 3
3 is a prime number

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [33]:
print("Enter the list of numbers")
s = input()
list2 = list(map(int, s.split(",")))
list3=[]
for i in range(len(list2)):
    list3.insert(i,list2[-1])
    list2.pop(-1)
print(*list3, sep = ",")

Enter the list of numbers
10,40,30,70
70,30,40,10

8. Write a Python program to print the following pattern.
* *
* **
* ***
* ****

In [47]:
rows = 5
for i in range(rows):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [49]:
s = input()
list1 = list(map(int, s.split(",")))
print(max(list1))

34,12,7
34


10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [57]:
n=5;
for i in range(n):
    for j in range(i):
        print ('*', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('*', end="")
    print('')

*
**
***
****
*****
****
***
**
*